*.a
*.o
*.d
*.hex
*.elf
*.db
*.buildinfo
*.sdf
*.sln
*.opensdf
*.suo
*.vcxproj
*.filters
*vmProgramSettingsCompile.xml
*vmProgramSettingsWorking.xml
*.vcxproj.user
*.vsarduino.h
*.lastbuildstate
*.ipch
*.log
*.vmps.xml
*.json
*.db-shm
*.db-wal
**/Debug/
**/x64/
**/Release/
Emon_SerialToMQTT_Thingsboard/*

