*.a
*.o
*.d
*.hex
*.elf
*.db
*.buildinfo
*.sdf
*.sln
*.opensdf
*.suo
*.vcxproj
!Emon_LogToJson.vcxproj
!Emon_SerialToMQTT.vcxproj
*.filters
*vmProgramSettingsCompile.xml
*vmProgramSettingsWorking.xml
*.vcxproj.user
*.vsarduino.h
*.lastbuildstate
*.ipch
*.log
*.vmps.xml
*.json
*.db-shm
*.db-wal
**/Debug/
**/x64/
**/Release/
Emon_SerialToMQTT_Thingsboard/*
Analyse_python/input/*.txt
Analyse_python/output/*.txt
Analyse_python/pandas/

#python built modules
*.so

