[connection]
id=enchantee
uuid=0710cde1-f329-4262-98e1-2cfb51373f56
type=wifi
autoconnect=false
interface-name=wlan0
timestamp=1785051211

[wifi]
mode=ap
ssid=Enchantee

[wifi-security]
key-mgmt=wpa-psk
psk=<SET-THIS-ON-THE-PI>

[ipv4]
address1=10.42.0.1/24
method=shared

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
